<div{{ attributes }}>
    <div class="mb-3">
        <label class="form-label" for="search">
            Elèves de :
        </label>
        <select name="classes-search" id="search" data-model="query">
            <option value="">Classes :</option>
            {% for class in this.allclasses %}
                <option value="{{ class.name }}">{{ class.name }}</option>
            {% endfor %}
        </select>
    </div>
    <section class="student-card-container">
        {% if this.class is not null %}
            {% for student in this.class.students %}
                {% if student.isIn %}
                    <article class="student-card student-in">
                {% else %}
                    <article class="student-card student-out">
                {% endif %}
                    <p>{{ ux_icon('streamline:user-profile-focus-solid') }}</p>
                    <div class="student-info">
                        <h2 class="student-card-title"> {{ student.firstname }} {{ student.lastname }} -
                            {{ student.classe.name }}</h2>
                        <p>{{ student.regime.name }}</p>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </section>
    </div>
